header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    line-height: 4rem;
    // margin: 0 auto;
    padding: 0 2.5rem;
    background: white;
    .header-in{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        height: 100%;
        justify-content: space-between;
        .header-title {
            width: 15rem;
            height: 4rem;
            line-height: 4rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }

}

.header-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.go-sign {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    color: #1bc628;
    font-size: 1.5rem;
    padding: 0;
}

.sign-in {
    color: white;
    background: #1bc628;
}