.sign {

    input {
        display: block;
        width: 15rem;
        heighT: 2.5rem;
        border: none;
        outline: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
}